In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df = pd.read_excel(r"C:\Users\DYNABOOK\Downloads\housing.xlsx")

In [34]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [36]:
df=df.dropna()

In [37]:
df = pd.get_dummies(df, columns=['ocean_proximity'], drop_first=True).astype(int)  
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0           -122        37                  41          880             129
1           -122        37                  21         7099            1106
2           -122        37                  52         1467             190
3           -122        37                  52         1274             235
4           -122        37                  52         1627             280
...          ...       ...                 ...          ...             ...
20635       -121        39                  25         1665             374
20636       -121        39                  18          697             150
20637       -121        39                  17         2254             485
20638       -121        39                  18         1860             409
20639       -121        39                  16         2785             616

       population  households  median_income  median_house_value  \
0             322         126              8              452600
1            2401        1138              8              358500
2             496         177              7              352100
3             558         219              5              341300
4             565         259              3              342200
...           ...         ...            ...                 ...
20635         845         330              1               78100
20636         356         114              2               77100
20637        1007         433              1               92300
20638         741         349              1               84700
20639        1387         530              2               89400

       ocean_proximity_INLAND  ocean_proximity_ISLAND  \
0                           0                       0
1                           0                       0
2                           0                       0
3                           0                       0
4                           0                       0
...                       ...                     ...
20635                       1                       0
20636                       1                       0
20637                       1                       0
20638                       1                       0
20639                       1                       0

       ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
0                             1                           0
1                             1                           0
2                             1                           0
3                             1                           0
4                             1                           0
...                         ...                         ...
20635                         0                           0
20636                         0                           0
20637                         0                           0
20638                         0                           0
20639                         0                           0

[20433 rows x 13 columns]

In [39]:
from sklearn.preprocessing import StandardScaler

numerical_cols = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 
                  'total_bedrooms', 'population', 'households', 'median_income']

scaler = StandardScaler()

df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0  -1.423755  0.883077            0.982163    -0.803813       -0.970325
1  -1.423755  0.883077           -0.606210     2.042130        1.348276
2  -1.423755  0.883077            1.855769    -0.535189       -0.825561
3  -1.423755  0.883077            1.855769    -0.623510       -0.718768
4  -1.423755  0.883077            1.855769    -0.461970       -0.611974

   population  households  median_income  median_house_value  \
0   -0.973320   -0.976833       2.385108              452600
1    0.861339    1.670373       2.385108              358500
2   -0.819769   -0.843427       1.867351              352100
3   -0.765056   -0.733562       0.831837              341300
4   -0.758879   -0.628930      -0.203677              342200

   ocean_proximity_INLAND  ocean_proximity_ISLAND  ocean_proximity_NEAR BAY  \
0                       0                       0                         1
1                       0                       0                         1
2                       0                       0                         1
3                       0                       0                         1
4                       0                       0                         1

   ocean_proximity_NEAR OCEAN
0                           0
1                           0
2                           0
3                           0
4                           0

scaling is done here

In [40]:
df['rooms_per_household'] = df['total_rooms'] / df['households']
df['bedrooms_per_room'] = df['total_bedrooms'] / df['total_rooms']
df['population_per_household'] = df['population'] / df['households']
df.drop(columns=['total_rooms', 'total_bedrooms', 'households'], inplace=True)

transformation is done here

In [47]:


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Define Features (X) and Target Variable (y)
X = df.drop(columns=['median_house_value'])  
y = df['median_house_value']

# Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and Train the Random Forest Model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Make Predictions
y_pred = rf_model.predict(X_test)

# Evaluate Performance
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2_rf = r2_score(y_test, y_pred)  # Calculate R² Score

# Print Results
print("📊 Random Forest Regressor")
print("📉 MAE:", mae)
print("📊 RMSE:", rmse)
print("🔹 R² Score:", r2_rf)

📊 Random Forest Regressor
📉 MAE: 40272.80285539515
📊 RMSE: 59459.90211604263
🔹 R² Score: 0.7414674061745321

In [42]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# Initialize Model (Choosing k=5 as default)
knn_model = KNeighborsRegressor(n_neighbors=5)

# Train Model
knn_model.fit(X_train, y_train)

# Make Predictions
y_pred_knn = knn_model.predict(X_test)

# Evaluate Model
mae_knn = mean_absolute_error(y_test, y_pred_knn)
rmse_knn = np.sqrt(mean_squared_error(y_test, y_pred_knn))

print("📊 K-Nearest Neighbors Regressor")
print("📉 MAE:", mae_knn)
print("📊 RMSE:", rmse_knn)

📊 K-Nearest Neighbors Regressor
📉 MAE: 47407.092781991676
📊 RMSE: 69963.53722692683

In [43]:
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# Scale the features (SVR is sensitive to scaling)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize SVR model with RBF kernel (default)
svr_model = SVR(kernel='rbf', C=100, epsilon=0.1)
svr_model.fit(X_train_scaled, y_train)

# Make Predictions
y_pred_svr = svr_model.predict(X_test_scaled)

# Evaluate Model
mae_svr = mean_absolute_error(y_test, y_pred_svr)
rmse_svr = np.sqrt(mean_squared_error(y_test, y_pred_svr))

print("📊 Support Vector Regression (SVR)")
print("📉 MAE:", mae_svr)
print("📊 RMSE:", rmse_svr)

📊 Support Vector Regression (SVR)
📉 MAE: 66580.70052662399
📊 RMSE: 95650.03636185183

High RMSE suggests poor generalization – SVR isn't capturing patterns well.

In [45]:
from xgboost import XGBRegressor

# Initialize Model
xgb_model = XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

# Train Model
xgb_model.fit(X_train, y_train)

# Make Predictions
y_pred_xgb = xgb_model.predict(X_test)

# Evaluate Model
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
rmse_xgb = np.sqrt(mean_squared_error(y_test, y_pred_xgb))

print("📊 XGBoost Regressor")
print("📉 MAE:", mae_xgb)
print("📊 RMSE:", rmse_xgb)

📊 XGBoost Regressor
📉 MAE: 40754.29296875
📊 RMSE: 59075.58602333116