In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
data = "pandas_dataset.csv"
df = pd.read_csv(data)

In [3]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [4]:
df.tail()

    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [6]:
df.shape

(32, 5)

In [7]:
df.nunique()

Duration     4
Date        30
Pulse       15
Maxpulse    24
Calories    26
dtype: int64

In [8]:
df.columns

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [9]:
df.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [10]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [11]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [12]:
df.describe(include="object")

                Date
count             31
unique            30
top     '2020/12/12'
freq               2

In [13]:
df["Date"] = df["Date"].fillna('2020/12/22')

In [14]:
df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [20]:
df["Date"] = df["Date"].replace("20201226","'2020/12/26'")

In [25]:
df["Date"] = pd.to_datetime(df["Date"],format='mixed')

In [26]:
df.dtypes

Duration             int64
Date        datetime64[ns]
Pulse                int64
Maxpulse             int64
Calories           float64
dtype: object

In [27]:
df.head()

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2020-12-01    110       130     409.1
1        60 2020-12-02    117       145     479.0
2        60 2020-12-03    103       135     340.0
3        45 2020-12-04    109       175     282.4
4        45 2020-12-05    117       148     406.0

In [28]:
df["Calories"] = df["Calories"].fillna(df["Calories"].mean())

In [29]:
df.isna().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      32 non-null     datetime64[ns]
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.4 KB

In [31]:
df.describe()

         Duration                 Date       Pulse    Maxpulse    Calories
count   32.000000                   32   32.000000   32.000000   32.000000
mean    68.437500  2020-12-15 21:00:00  103.500000  128.500000  304.680000
min     30.000000  2020-12-01 00:00:00   90.000000  101.000000  195.100000
25%     60.000000  2020-12-08 18:00:00  100.000000  120.000000  250.700000
50%     60.000000  2020-12-15 12:00:00  102.500000  127.500000  300.000000
75%     60.000000  2020-12-23 06:00:00  106.500000  132.250000  341.325000
max    450.000000  2020-12-31 00:00:00  130.000000  175.000000  479.000000
std     70.039591                  NaN    7.832933   12.998759   63.839129

In [32]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

new column

In [33]:
df[df.duplicated()]

    Duration       Date  Pulse  Maxpulse  Calories
12        60 2020-12-12    100       120     250.7

In [34]:
df.loc[22, 'Date'] = '2020-12-22'

In [35]:
df = df.drop_duplicates()

In [36]:
df["Duration"] = df["Duration"].replace(450,45)