# **IMPORTING PANDAS AND LOADING DATASET**

In [ ]:
import pandas as pd
df = pd.read_csv("/content/Mobiles Dataset (2025).csv", encoding="ISO-8859-1")

# New Section

## **BASIC PANDAS FUCNTION**

In [ ]:
#  df.head()
#  df.tail()
#  df.info()
# df.describe()
# df.shape
# df.columns
# df.dtypes
# df.nunique()
# df.isnull().sum()
# df.duplicated()

# **Data selection**

In [ ]:
# df['Model Name']
# df[['Company Name','Model Name']]
# df.iloc[0]
# df.loc[df['Company Name']=='Apple']
# df[(df['Company Name']=='Apple') & (df['Launched Year']>=2021)]
# df.at[0,'Company Name']
# df.iat[0, 1]
# df.sample(5)
df.sample(frac=0.2)

## **Sorting and ordering**

In [ ]:
# df.sort_values(by='Launched Year',ascending=False)
# df.sort_values(by=['Company Name','Launched Year'],ascending=[True,False])
# df.nlargest(5,'Launched Year')
# df.nsmallest(2,'Launched Year')
# df.rank()
# df.sort_index()

# **Aggregation and stat**

In [ ]:
# df.sum()
# df['Launched Year'].mean()
# df['Launched Year'].median()
# df['Launched Year'].mode()
# df['Launched Year'].min()
# df['Launched Year'].max()
# df['Launched Year'].std()
# df['Launched Year'].var()
df['Launched Year'].count()

930

## **Data tranformation**

In [ ]:
# df['Launched Year']=df['Launched Year']-2
# print(df['Launched Year'])
# df['Company Name'].replace({'Apple':'Apple_company'})
# df.drop_duplicates()
df.drop('RAM',axis=1)

## **Filling missing data**

In [ ]:
# df.fillna(0)
df.dropna()

# **Data exporting**

In [ ]:
# df.to_csv('phone_file.csv',index=False)
# df.to_excel('phone_file.xlsx',index=False)
df.to_json('phone_file.json')

# **pivot table**

In [ ]:
# df.pivot_table(index='Company Name',values='Launched Year',aggfunc='median')
pd.crosstab(df['Company Name'],df['Launched Year'])

# **String operation**

In [ ]:
# df['Company Name'].str.upper()
# df['Company Name'].str.lower()
# df['Company Name'].str.startswith('L')
# df['Company Name'].str.endswith('e')
# df['Company Name'].str.contains('ple')
# df['Company Name'].str.replace('Apple','orange')
# df['Company Name'].str.split(' ')
df['Company Name'].str.len()

0      5
1      5
2      5
3      5
4      5
      ..
925    4
926    4
927    7
928    7
929    7
Name: Company Name, Length: 930, dtype: int64

# **HANDLE MISSING DATA**

In [ ]:
# df.fillna(0)
# df.fillna(df.mean(), inplace=True)
# df.dropna()
df.interpolate()

## **joining**

In [ ]:
# df_part1 = df[["Company Name", "Model Name", "RAM", "Battery Capacity"]]
# df_part2 = df[["Model Name", "Launched Price (Pakistan)", "Launched Year"]]

# df_joined = df_part1.set_index("Model Name").join(df_part2.set_index("Model Name"))

df_joined

,Company Name,RAM,Battery Capacity,Launched Price (Pakistan),Launched Year
Model Name,,,,,
iPhone 16 128GB,Apple,6GB,"3,600mAh","PKR 224,999",2022
iPhone 16 256GB,Apple,6GB,"3,600mAh","PKR 234,999",2022
iPhone 16 512GB,Apple,6GB,"3,600mAh","PKR 244,999",2022
iPhone 16 Plus 128GB,Apple,6GB,"4,200mAh","PKR 249,999",2022
iPhone 16 Plus 256GB,Apple,6GB,"4,200mAh","PKR 259,999",2022
...,...,...,...,...,...
Pad 5G 128GB,Poco,8GB,"10,000mAh","PKR 66,220",2022
Pad 5G 256GB,Poco,8GB,"10,000mAh","PKR 71,220",2022
Galaxy Z Fold6 256GB,Samsung,12GB,4400mAh,"PKR 604,999",2022
Galaxy Z Fold6 512GB,Samsung,12GB,4400mAh,"PKR 544,999",2022
Galaxy Z Fold6 1TB,Samsung,12GB,4400mAh,Not available,2022