getting rows and columns of dataframe

In [ ]:
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
   return list(players.shape)

creating dataframe

In [ ]:
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
   column_names = ["student_id", "age"]
   df=pd.DataFrame(student_data, columns=column_names)
   return df

select data where stu id =101

In [ ]:
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:

    return students.loc[students["student_id"] == 101, ["name" ,"age"]]

new column creation using existing column named salary

In [ ]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees["bonus"]= employees["salary"]*2
    return employees

dropping duplicates

In [ ]:
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates(subset=["email"])

drop row if there is null values

In [ ]:
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    return students.dropna(subset=['name'])

modify columns

In [ ]:
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary']=employees['salary']*2
    return employees

renaming columns

In [ ]:

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students= students.rename(columns={'id': 'student_id', 'first': 'first_name', 'last': 'last_name', 'age': 'age_in_years'})
    return students

change data type

In [ ]:
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    return students.astype({'grade':int})

filling missing values

In [ ]:
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    products['quantity']=products['quantity'].fillna(0)
    return products

concatenate two df

In [ ]:
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    return pd.concat([df1,df2])

creating pivot table

In [ ]:
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
   return weather.pivot(columns= 'city', index='month', values='temperature')

reshaping data

In [ ]:
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    result = pd.melt(report, id_vars='product', value_vars=['quarter_1','quarter_2','quarter_3','quarter_4'],var_name='quarter', value_name='sales')
    return pd.DataFrame(result)

method chaining

In [ ]:

import pandas as pd

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    return animals[animals['weight'] > 100].sort_values(['weight'],ascending=False)[['name']]