In [2]:
import pandas as pd 

df = pd.read_csv(r"C:\Users\DYNABOOK\Downloads\supermarket_Sales.csv")
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [14]:
df['Product Quality'] = df['Customer stratification rating']*10
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Invoice ID                      1000 non-null   object
 1   Branch                          1000 non-null   object
 2   City                            1000 non-null   object
 3   Customer type                   1000 non-null   object
 4   Gender                          1000 non-null   object
 5   Product line                    1000 non-null   object
 6   Unit price                      1000 non-null   float64
 7   Quantity                        1000 non-null   int32
 8   Tax 5%                          1000 non-null   float64
 9   Total                           1000 non-null   float64
 10  Date                            1000 non-null   object
 11  Time                            1000 non-null   object
 12  Payment                         1000 non-null   object
 13  Cost of goods sold              1000 non-null   float64
 14  Gross margin percentage         1000 non-null   float64
 15  Gross income                    1000 non-null   float64
 16  Customer stratification rating  1000 non-null   float64
 17  Product Quality                 1000 non-null   float64
dtypes: float64(8), int32(1), object(9)
memory usage: 136.8+ KB

In [12]:
df['Quantity'] = df['Quantity'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Invoice ID                      1000 non-null   object
 1   Branch                          1000 non-null   object
 2   City                            1000 non-null   object
 3   Customer type                   1000 non-null   object
 4   Gender                          1000 non-null   object
 5   Product line                    1000 non-null   object
 6   Unit price                      1000 non-null   float64
 7   Quantity                        1000 non-null   int32
 8   Tax 5%                          1000 non-null   float64
 9   Total                           1000 non-null   float64
 10  Date                            1000 non-null   object
 11  Time                            1000 non-null   object
 12  Payment                         1000 non-null   object
 13  Cost of goods sold              1000 non-null   float64
 14  Gross margin percentage         1000 non-null   float64
 15  Gross income                    1000 non-null   float64
 16  Customer stratification rating  1000 non-null   float64
 17  Product Quality                 1000 non-null   float64
dtypes: float64(8), int32(1), object(9)
memory usage: 136.8+ KB

In [24]:
pivot = pd.pivot_table(df,index ='Branch',values='Gross income',columns="Product Quality",aggfunc='sum').reset_index()
pivot.head()

Product Quality,Branch,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,...,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0,100.0
0,A,31.8795,54.4200,185.8200,140.5830,76.0085,148.9085,53.461,48.8840,58.3225,...,106.1185,101.1630,128.5305,54.6075,51.689,86.1505,45.7670,86.1485,100.5040,16.1600
1,B,64.4620,41.3565,200.1015,65.2330,104.6280,152.2155,46.406,61.0635,72.9505,...,7.8880,39.7715,30.6950,39.1435,84.806,88.0125,57.7530,88.1220,96.1345,79.1935
2,C,93.4925,75.1370,55.7885,77.9035,139.2000,80.8010,25.564,71.1200,80.6275,...,96.2670,123.3970,102.9495,88.9990,163.119,92.1350,55.1655,62.7260,80.6440,3.7110