In [20]:
import pandas as pd
from sqlalchemy import create_engine

In [21]:
username = "root"
password = "Intern@019"  # Password with @
host = "localhost"
database = "HotelReservation"

password_encoded = "Intern%40019"  # %40 is the url-encoded represntation of @

In [22]:
# engine = create_engine("mysql+mysqlconnector://root:Intern@019@localhost/HotelReservation")
engine = create_engine(f"mysql+mysqlconnector://{username}:{password_encoded}@{host}/{database}")

In [23]:
# df=pd.read_excel(r"C:\Users\DYNABOOK\Desktop\Sample Data  Tableau.xlsx",sheet_name="HR_data")
df=pd.read_csv(r"C:\Users\DYNABOOK\Desktop\Hotel Reservations (1).csv")

C:\Users\DYNABOOK\AppData\Local\Temp\ipykernel_18608\2404880144.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\DYNABOOK\Desktop\Hotel Reservations (1).csv")

In [24]:
df.columns

Index(['Booking_ID', 'no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'date', 'arrival_year',
       'arrival_month', 'arrival_date', 'market_segment_type',
       'repeated_guest', 'no_of_previous_cancellations',
       'no_of_previous_bookings_not_canceled', 'avg_price_per_room',
       'no_of_special_requests', 'booking_status', 'no_of_people'],
      dtype='object')

In [19]:
# df.arrival_date.dropna()
df.shape

(36275, 21)

In [ ]:
df.to_sql(name='booking', con=engine, if_exists='replace', index=False)

36275